body{
  background: #ddd6f3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #faaca8, #ddd6f3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #faaca8, #ddd6f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  color: #666;
}

#wrapper{
  background-color: white;
  padding: 3rem;
  width: 80%;
  min-height: 20rem;
  margin: 3rem auto;
  border-radius: 1rem;
}
